<div class="main-content">
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <h3>All Categories</h3>
                        </div>
                        <div class="col-6 text text-right">
                            <button type="button" data-toggle="modal" data-target="#createCategoryModal"
                                class="btn btn-info">Add New</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <table class="table table-bordered table-light">
                        <thead>
                            <tr>
                                <th>S.NO</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i=0; i < allcategory.length; i++){ %>
                            <tr>
                                <td><%= i + 1; %></td>
                                <td><%= allcategory[i].title %></td>
                                <td><%= allcategory[i].description %></td>
                                <td>
                                    <a href="/admin/editCategory?categoryId=<%= allcategory[i].id; %>" class="btn  btn-primary">Edit</a>
                                    <a onclick="return confirm('are you sure to Delete?')" href="/admin/deleteCategory?categoryId=<%= allcategory[i].id; %>" class="btn  btn-danger"  >Delete</a>
                                </td>
                               
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="createCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form action="/admin/allCategory" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create New Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <label>Title</label>
                            <input type="text" name="title" id="title" class="form-control" />
                        </div>
                        <div class="col-12 mt-2">
                            <label>Description</label>
                            <textarea name="description" class="form-control"></textarea>
                        </div>

                        <div class="col-12 mt-2">
                            <label>Parent Category</label>
                            <select name="parentId" class="form-control">
                                <option value="0">Select Product Category</option>
                                <% for(let i =0; i < allcategory.length; i++) {
                                    let category = allcategory[i];    
                                %>  
                                <option value="<%= category.id; %>"><%= category.title; %></option>
                                <% } %>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">create category</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
