<div class="main-content">
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <h3>All Products</h3>
                            <% if(status && message) {%>
                                <h3 class="text text-danger">
                                    <%= message; %>
                                </h3>
                                <% } %>
                        </div>
                        <div class="col-6 text text-right">
                            <button type="button" data-toggle="modal" data-target="#createProductModal"
                                class="btn btn-info">Add New</button>
                        </div>
                    </div>

                </div>
                <div class="col-12 mt-4">
                    <table class="table table-bordered table-light">
                        <thead>
                            <tr>
                                <th>S.NO</th>
                                <th>Image</th>
                                <th>Title</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Category</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i =0; i < product.length; i++) {
                                let products = product[i];
                               const allImages = (products.Images) ? products.Images.split(",") : null;
                               let productSingleImg = (allImages) ? allImages[0] : '';3
                            %> 
                                <tr>
                                    <td><%= i + 1; %></td>
                                    <td>
                                        <img src="/product_Images/<%= productSingleImg; %>" alt="Internal Server Error" height="100" width="100" />
                                    </td>
                                    <td><%= products.title; %></td>
                                    <td><%= products.price; %></td>
                                    <td><%= products.quantity; %></td>
                                    <td><%= products.category_title; %></td>
                                    <td><%= products.description; %></td>
                                    <td>
                                        <a href="/admin/editProduct?productId=<%= products.id; %>" class="btn btn-primary">Edit</a>
                                        <a href="/admin/deleteProduct?productId=<%= products.id; %>" class="btn btn-danger" onclick="return confirm('are you sure to Delete product?')">Delete</a>
                                    </td>
                                    
                                </tr> 
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="createProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form action="/admin/product" method="post" enctype="multipart/form-data" >
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create New Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <label>Title</label>
                            <input type="text" name="title" id="title" class="form-control" />
                        </div>
                        <div class="col-6">
                            <label>Price</label>
                            <input type="number" name="price" id="price" class="form-control" />
                        </div>
                        <div class="col-6">
                            <label>Quantity</label>
                            <input type="number" name="quantity" id="quantity" class="form-control" />
                        </div>
                        <div class="col-12 mt-2">
                            <label>Description</label>
                            <textarea name="description" class="form-control"></textarea>
                        </div>

                        <div class="col-12 mt-2">
                            <label>Category</label>
                            <select name="categoryId" class="form-control">
                                <option value="0">Select Product Category</option>
                                <% for(let i =0; i < categories.length; i++) {
                                    let category = categories[i];    
                                %>  
                                <option value="<%= category.id; %>"><%= category.title; %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="col-12 mt-2">
                            <label>Images</label>
                            <input type="file" name="productImages" multiple="multiple" />
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Create Product</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>