<div class="container mt-4">
    <h1>checkout page</h1>
    <form action="/placeOdear" method="post">
        <div class="row ">
            <div class="col-7">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Customer Details</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 mt-2">
                                        <label>Full Name</label>
                                        <input type="text" name="shippingFullname" class="form-control" value="<%= user.firstName +' '+ user.lastName; %>" />
                                    </div>
                                    <div class="col-6 mt-2">
                                        <label>Contact Number</label>
                                        <input type="number" name="shippingContact" class="form-control" value="<%= user.contact; %>" />
                                    </div>
                                    <div class="col-6 mt-2">
                                        <label>Pincode</label>
                                        <input type="number" name="shippingPincode" class="form-control" value="<%= user.pincode; %>" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="row">
                    <div class="col-12">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Cart summary </h3>
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered table-hover table-stripped">
                                        <thead>
                                            <tr>
                                                <th>S. no </th>
                                                <th>Title</th>
                                                <th>price</th>
                                                <th>quantity</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(let i=0; i < products.length; i++){ let product =  products[i]; %>
                                           <tr>
                                                <td>
                                                    <%= i + 1; %>
                                                </td>
                                                <td><%= product.title; %></td>
                                                <td><%= product.price; %></td>
                                                <td><%= product.quantity; %></td>
                                                <td><%= product.total; %></td>
                                           </tr>
                                           <% } %>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="4" class="text text-end"> grand total</th>
                                                <th>
                                                    <input type="hidden" name="grandTotal" value="">

                                                </th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-7 mt-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Billing Information</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 mt-2">
                                <label>Full Name</label>
                                <input type="text" name="billingFullname" class="form-control" />
                            </div>
                            <div class="col-6 mt-2">
                                <label>Contact Number</label>
                                <input type="number" name="billingContact" class="form-control" />
                            </div>
                            <div class="col-6 mt-2">
                                <label>Pincode</label>
                                <input type="number" name="billingPincode" class="form-control" />
                            </div>
                            <div class="col-12 mt-2">
                                <label>Address</label>
                                <textarea name="billingAdress" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5 mt-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Payment Method</h3>
                    </div>
                    <div class="card-body">
                        <label>
                            <input type="radio" name="paymentMethod" value="cod" /> Cash on delivery
                        </label><br />
                        <label>
                            <input type="radio" name="paymentMethod" value="netBanking" /> Internet Banking
                        </label><br />
                        <label>
                            <input type="radio" name="paymentMethod" value="upi" /> UPI
                        </label><br />
                        <label>
                            <input type="radio" name="paymentMethod" value="wallet" /> Wallet
                        </label><br />
                        <label>
                            <input type="radio" name="paymentMethod" value="creditCard" /> Credit Card
                        </label><br />
                        <label>
                            <input type="radio" name="paymentMethod" value="debitCard" /> Debit Card
                        </label>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-success"> place odear</button>
                </div>
            </div>
        </div>
    </form>
</div>