<div class="container mt-3 ">

    <div class="col-12">
        <div class="row">
            <div class="col-10">
                <input type="text" name="searchKeyword" id="searchKeyword" class="form-control" onkeyup="getSearchedProducts();" />
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-primary btn-outline-primary"
                >Search</button>
            </div>
        </div>
    </div>
    <div class="row" id="productContainer">
        <% for(let i=0; i < product.length; i++) { var img=product[i].Images.split(','); %>
            <div class="col-3 mt-2 ">
                <div class="card ">
                    <div class="card-header">
                        <h3>
                            <%= product[i].title; %>
                        </h3>
                    </div>
                    <div class="card-body">
                        <img src="/product_Images/<%= img[0]; %>" style="height:250px;width:270px" />
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-6">
                                <span>Price : $<%= product[i].price; %>/-</span>
                            </div>
                            <div class="col-6 text text-end">
                                <a href="javascript:void(0);" class="btn btn-primary btn-sm"
                                    onclick="addToCart(`<%= product[i].id; %>`);">Add To
                                    Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
    </div>

    <div class="col-12">
        <div class="row">
            <div class="col-6 offset-4">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <% for(let i = 1; i <= totalPages; i++){  %>
                        <li class="page-item"><a class="page-link" href="/?page=<%= i; %>"><%= i; %></a></li>
                      <% } %>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
            </div>
        </div>
    </div>
    
</div>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script>
    function addToCart(productId) {
        console.log("addToCart", productId);
        $.ajax({
            url: "/product/add-to-cart",
            method: "POST",
            data: { proId: productId },
            success: function (result) {
                console.log("success :: result", result);
            },
            error: function (error) {
                console.log("ERROR: Add TO cart:: ", error);
            }
        });
    }

    function getSearchedProducts() {
        const searchKeyword = $('#searchKeyword').val();
        console.log("searchKeyword", searchKeyword);
        $.ajax({
            url: "/product/search",
            method: "GET",
            data: { searchKeyword: searchKeyword },
            success: function (result) {
                console.log("result", result);
                const items = result.items;
                let output = "";
                items.forEach(singleProduct => {
                    console.log("singleProduct", singleProduct);
                    const img = singleProduct.Images.split(",");
                    output += `
                    <div class="col-3 mt-2 ">
                        <div class="card ">
                            <div class="card-header">
                                <h3>
                                    ${singleProduct.title}
                                </h3>
                            </div>
                            <div class="card-body">
                                <img src="/product_Images/${img[0]}" style="height:250px;width:270px" />
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-6">
                                        <span>Price : $${singleProduct.price}/-</span>
                                    </div>
                                    <div class="col-6 text text-end">
                                        <a href="javascript:void(0);" class="btn btn-primary btn-sm"
                                            onclick="addToCart('${singleProduct.id}');">Add To
                                            Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`;
                });
                $("#productContainer").html(output);
            },
            error: function (error) {
                console.log("search error", error);
            }
        });
    }
</script>